@charset "UTF-8";

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: silver;
}

p {
    text-align: justify;
    font-size: 20px;
}
/* Classe do texto para introdução da banda */
.band-intro-message {
    text-align: center;
}
/* Título principal centralizado */ 
.main-title {
    text-align: center;
}

/* Estilos para listas */ 
ul {
    font-size: 20px;
}

/* Estilos para links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}