@charset "UTF-8";

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: silver;
}

p.intro {
    text-align: center;
    font-size: 20px;
    
}

/* Classe do texto para introdução da banda */
.band-intro-message {
    text-align: center;
    font-size: 20px;
}
/* Título principal centralizado */ 
.main-title {
    text-align: center;
}

/* Estilos para links */
a {
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/* Alinhar os álbuns para o centro */
.band-image {
    text-align: center;
}

.album-cover {
    text-align: center;
    width: 200px;
    height: auto;
    margin: 0 auto;
    text-decoration: none;
}


/* Estilos para as páginas dos reviews */
.album-review-image {
    width: 280px;
    display: block;
    margin: 0 auto;
    
}

.album-info {
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.album-review-text {   
    font-size: 22px;
    text-align: center;
}

.song-link {
    font-size: 20px;
    text-align: center;
}

/* Estilo para a linha que separa o conteúdo do menu principal */
hr {
    border: none;
    border-top: 2px solid #000000; /* Cor e espessura da linha */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */
}